.table-thumbnail {
  display: none;
  
  cursor: pointer;
  width: 100%;
  height: auto;
}

@media (max-width: 680px) {
  table.table-thumbnail-ready {
    display: none;
  }
  
  .table-thumbnail {
    display: block;
  }
}